* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  @font-face {
    font-family: "juniper";
    src: url(./Assets/fonts/juniperstd.otf) ;
  }
@font-face {
    font-family: "mukta-bold";
    src: url(./Assets/fonts/Mukta/Mukta-Bold.ttf);
}
@font-face {
    font-family: "mukta-extrabold";
    src: url(./Assets/fonts/Mukta/Mukta-ExtraBold.ttf);
}
@font-face {
    font-family: "mukta-extralight";
    src: url(./Assets/fonts/Mukta/Mukta-ExtraLight.ttf);
}
@font-face {
    font-family: "mukta-light";
    src: url(./Assets/fonts/Mukta/Mukta-Light.ttf);
}
@font-face {
    font-family: "mukta-medium";
    src: url(./Assets/fonts/Mukta/Mukta-Medium.ttf);
}
@font-face {
    font-family: "mukta-regular";
    src: url(./Assets/fonts/Mukta/Mukta-Regular.ttf);
}
@font-face {
    font-family: "mukta-semibold";
    src: url(./Assets/fonts/Mukta/Mukta-SemiBold.ttf);
}




/*INDEX*/

.header{
    background-color:#EFEFE8;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
nav .ul{
    display: grid;
    grid-template-columns:1fr 1fr;
    list-style-type: none;
    margin-top: 15px;
    text-align: center;
    }
nav .ul .li a{
   font-family:"mukta-extralight" ;
   text-decoration: none;
   color: black;
   font-size: 16px;
}
.boton-carrito{
   font-family:"mukta-extralight" ;
   font-size: 16px;
}

.boton-carrito a{
    text-decoration: none;
    color: black;
}
.search-bar{
    margin-top: 15px;
}
.search-bar .buscador{
    border-radius: 5px;
    text-align: left;
    width: 400px;
    height:22px;
    border-width: 1px;     
}
.search-bar .botonBuscar{
        border-radius: 5px;
        text-align: center;
        width: 80px;
        height:22px;
        border-width: 1px;   
}
body{
    background-color:#EFEFE8;
}
main{
    background-color:#EFEFE8;
}
.imgInicial{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: fit-content;
    margin-bottom: 60px;
}
.imagenBYW{
    text-align: center;
    margin-bottom: 60px;
}

.text{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}
.view{
    font-family: "mukta-extraligh";
    font-size: 15px;
    text-decoration: none;
    color: black;
}
h1{
    place-self: center;
    font-family: "mukta-extrabold";
    font-size: 20px;
}

.elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imag{
    width: 380px;
    height: 380px;
    gap: 30px;
}
.collagesadebyw{
    display: block; 
    margin: 0 auto; 
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.hm{
    display: block; 
    margin: 0 auto; 
    font-family: "mukta-extralight";
    font-size: 17px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: black;
    text-decoration: none;
}
  footer{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
 .redesandlogo{
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
 }
.redesandlogo .sade{
    font-family: "juniper";
    font-size: 90px;
    color: #AA0D0F;
}
.redes{
    margin-left: 25px;
}
.youtube{
    width: 20px;
    height: 22px;
    margin-bottom: -4px;
}
.footInfo{
    color: #EFEFE8;
    font-family:"mukta-extralight" ;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 50px;
}
/*SHOP*/
.shop{
    font-family: "juniper";
    font-size: 50px;
    color: black;
    display: block;
    margin: 40px 0px;
}
.viniloimagen{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.imgVinilos{
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}
.secciones-filtro{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}
.secciones{
    border: none;
    font-family: "mukta-extralight";
    font-size: 18px;
    background-color: #EFEFE8;
    
}
.contenedor-productosFiltro{
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}
.card{
    border: 2px solid #AA0D0F; 
    width: 300px;
    height: 400px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
}
.card img {
    display: block;          
    margin: 0 auto;            
    margin-top: 20px;          
    max-width: 100%;           
    height: auto;   
}
.card-content{
    margin-bottom: 30px;
}
.h2{
    font-family:"mukta-extralight" ;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.precio{
    font-family: "mukta-light";
    font-size: 30px;
    margin-left: 40px;
}
.buy-button {
    background-color: #AA0D0F; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
     border-radius: 5px; 
     cursor: pointer; 
    font-family: "mukta-extralight"; 
    font-size: 12px;
    margin-left: 40px;
    height: 40px;
}
.imgfinaal{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.lastfoto{
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
}

/* CARRITO DE COMPRAS*/
.titulo{
    font-family:"mukta-light" ;
    color: #AA0D0F;
    font-size: 60px;
}
.carritocontenedor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
     background-color: whitesmoke;
     width: 50%;
     margin: 40px auto;    
}
.carrito-productos{
    padding: 10px;
}
.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    padding-right: 40px;
    margin: 20px 30px;
}
.titulodelprod{
    font-family: "mukta-light";
}
.carrito-producto small{
    font-size: 13px;
    font-family: "mukta-extralight";
}
.carrito-productoimagen{
    width: 4rem;
    border-radius: 1rem;
}
.headerCarrito{
    text-align: center;
}
.carritoEliminarproducto{
    border: 0;
    color: #AA0D0F;
    cursor: pointer;
}
.carritoAcciones{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    font-family: "mukta-extralight";

}
 .carritoAcciones-comprar{
    background-color:#AA0D0F ;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    padding: 5px;
    color: #EFEFE8;
}
.boton-vaciarCarrito{
    cursor: pointer;
    border-radius: 4px ;
    border-color: #AA0D0F;
    padding: 5px;
    color: black;
    font-family:"mukta-extralight" ;
    width: 60px;
    height: 30px;
    font-size: 11px;
}
.comprarahora{
    display: flex;     
    justify-content: space-between; 
    align-items: center;
    margin: 20px 60px;
}

.headerCarrito{
    display: flex;     
    justify-content: space-around; 
    align-items: center;
    margin-left: 220px;
    margin-right: 70px;
    margin-bottom: 40px;
}
.disable{
    display: none;
}
.boton-carrito a {
    text-decoration: none; 
}

.boton-carrito button {
    background: none; 
    border: none; 
    font-family: "mukta-extralight"; 
    font-size: 16px;
    color: black; 
    cursor: pointer; 
    padding: 0; 
    margin: 0; 
}
